nav ul {
    list-style-type: none;
    display:flex;
    gap: 30px;
    margin: 20px;
    font-weight: bold;
    justify-content: space-between;

}

nav ul li a {
    text-decoration: none;
    color: blueviolet;
    font-size: 1.50rem;
}